html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

button {
  background: none;
  color: inherit;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

textarea,
input[type=text],
input[type=button],
input[type=submit],
input[type=reset],
input[type=search],
input[type=password] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  width: 100%;
}

* {
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

body * {
  font-size: 1.4rem;
}

img {
  display: block;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

p {
  line-height: 1.3;
}

a {
  line-height: 1.3;
  color: inherit;
}
a:hover {
  transition: all 200ms ease-in-out;
}

.ra__dark input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ra__dark input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ra__dark input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ra__dark input:focus {
  color: #ffffff !important;
}

.input-group-text {
  font-size: inherit !important;
}
.ra__dark .input-group-text {
  background-color: #2e3e4c;
  color: #ffffff;
}

.form-group {
  margin-bottom: 2rem;
}
.form-group:last-of-type {
  margin-bottom: 0;
}
.form-control {
  font-size: inherit !important;
}
.ra__dark .form-control {
  background-color: #2e3e4c;
  color: #ffffff;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #f1556c;
}

.invalid-feedback {
  color: #f1556c;
  font-size: 1.6rem;
}

html .btn, html .swal2-popup .swal2-styled.swal2-confirm, .swal2-popup html .swal2-styled.swal2-confirm {
  border-radius: 0.25rem;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  /* // .ra__settings {
      &-outline-success {
          border-color: $purple;
          color: $purple;
          width: auto !important;

          .ra__dark & {
              border-color: $green;
              color: $green;
          }

          &:hover {
              background-color: $button-bg-color-success;
              border-color: $purple;
              color: $white;

              .ra__dark & {
                  background-color: $green;
                  border-color: $green;
                  color: $black;
              }
          }

          &.focus,
          &:focus {
              box-shadow: 0 0 0 .15rem rgba( var(--purple), .5 );

              .ra__dark & {
                  box-shadow: 0 0 0 .15rem rgba( var(--green), .5 );
              }
          }

          &.disabled,
          &:disabled {
              background-color: transparent;
              color: $purple;

              .ra__dark & {
                  color: $green;
              }
          }

          &:not(:disabled):not(.disabled).active,
          &:not(:disabled):not(.disabled):active,
          .show & > .dropdown-toggle,
          .show > &.dropdown-toggle {
              background-color: $button-bg-color-success;
              border-color: $purple;
              color: $white;

              .ra__dark & {
                  background-color: $green;
                  border-color: $green;
                  color: $black;
              }
          }

          &:not(:disabled):not(.disabled).active:focus,
          &:not(:disabled):not(.disabled):active:focus,
          .show & > .dropdown-toggle:focus,
          .show > &.dropdown-toggle:focus {
              box-shadow: 0 0 0 .15rem rgba( var(--purple), .5 );

              .ra__dark & {
                  box-shadow: 0 0 0 .15rem rgba( var(--green), .5 );
              }
          }
      }
  // } */
}
html .btn-success, html .swal2-popup .swal2-styled.swal2-confirm, .swal2-popup html .swal2-styled.swal2-confirm, html .btn-primary, html .btn-danger, html .btn-info {
  border: none;
  box-shadow: none;
  color: #ffffff;
  width: auto !important;
}
html .btn-success:hover, html .swal2-popup .swal2-styled.swal2-confirm:hover, .swal2-popup html .swal2-styled.swal2-confirm:hover, html .btn-primary:hover, html .btn-danger:hover, html .btn-info:hover {
  background-color: #000000;
}
.ra__dark html .btn-success, .ra__dark html .swal2-popup .swal2-styled.swal2-confirm, .swal2-popup .ra__dark html .swal2-styled.swal2-confirm, .ra__dark html .btn-primary, .ra__dark html .btn-danger, .ra__dark html .btn-info {
  color: #ffffff;
}
.ra__dark html .btn-success:hover, .ra__dark html .swal2-popup .swal2-styled.swal2-confirm:hover, .swal2-popup .ra__dark html .swal2-styled.swal2-confirm:hover, .ra__dark html .btn-primary:hover, .ra__dark html .btn-danger:hover, .ra__dark html .btn-info:hover {
  background-color: #000000;
  color: #ffffff;
}
html .btn:hover, html .swal2-popup .swal2-styled.swal2-confirm:hover, .swal2-popup html .swal2-styled.swal2-confirm:hover {
  background-color: #000000;
}
html .btn-success, html .swal2-popup .swal2-styled.swal2-confirm, .swal2-popup html .swal2-styled.swal2-confirm {
  background-color: #972b84;
}
.ra__dark html .btn-success, .ra__dark html .swal2-popup .swal2-styled.swal2-confirm, .swal2-popup .ra__dark html .swal2-styled.swal2-confirm {
  background-color: #61ff2a;
  color: #000000;
}
html .btn-primary {
  background-color: #972b84;
}
.ra__dark html .btn-primary {
  background-color: #61ff2a;
  color: #000000;
}
html .btn-danger {
  background-color: #dd3333;
}
.ra__dark html .btn-danger {
  background-color: #dd3333;
}
html .btn-info {
  background-color: #972b84;
}
.ra__dark html .btn-info {
  background-color: #61ff2a;
}

.swal2-popup {
  background-color: #1e2933;
  border-radius: 0.25rem;
  max-width: 400px;
  width: 40%;
}
.ra__dark .swal2-popup {
  background-color: #ffffff;
}
.swal2-popup .swal2-icon.swal2-warning, .swal2-popup .swal2-icon.swal2-error {
  border-color: #dd3333;
  color: #dd3333;
}
.swal2-popup .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  background-color: #dd3333;
}
.swal2-popup .swal2-title,
.swal2-popup .swal2-content {
  color: #ffffff;
}
.ra__dark .swal2-popup .swal2-title,
.ra__dark .swal2-popup .swal2-content {
  color: #000000;
}
.swal2-popup .swal2-styled {
  transition: all 200ms ease-in-out;
}
.header-logo {
  max-width: 200px;
}
.header-logo img {
  width: 100%;
}

#header .header-nav-main nav > ul > li > a {
  font-size: 1.4rem;
}
#header .header-nav-main nav > ul > li > a i {
  margin-right: 0.5rem !important;
}

#header .header-nav.header-nav-links nav > ul li:hover > a {
  color: #ff02c8;
}

#header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
  color: #ff02c8;
}

/* .navbar {
    &-custom {
        .logo {
            max-width: 200px;

            &-img {
                // display: block;
                width: 100%;
            }
        }

        .navbar-nav {
            .nav-item .nav-link {
                @include line-height(
                    $line-height: 1
                );

                color: $nav-link-color;

                &:hover {
                    color: $nav-link-hover-color;
                }
            }
        }

        &.nav-sticky .navbar-nav {
            .nav-item .nav-link {
                color: $nav-sticky-link-color;

                &:hover {
                    color: $nav-sticky-link-hover-color;
                }
            }
        }
    }
} */
.owl-carousel.nav-dark:not(.nav-style-1):not(.nav-style-2):not(.nav-style-3):not(.show-nav-title):not(.nav-arrows-1) .owl-nav button[class*=owl-] {
  transition: all 200ms ease-in-out;
  background-color: #972b84 !important;
}

#footer {
  background: #ffffff;
  border: none;
}
#footer .footer-copyright {
  background: #ffffff;
}
