// Intialization
@import '_reset';
@import '_variables';
@import '_mixins';

* {
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
}

#{$body} {
    * {
        font-size: $font-size;
    }
}

img {
    display: block;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    @include line-height;

    .ra__dark & {
        color: $white;
    }
}

h4.header-title {
    font-size: 2.4rem;
}

p {
    @include line-height;

    .ra__dark & {
        color: $white;
    }
}

a {
    @include line-height;

    color: inherit;

    &:hover {
        @include transition;
    }
}

.table td,
.table th {
    .ra__dark & {
        color: $white;
    }
}

text {
    .ra__dark & {
        fill: $white !important;
    }
}

.text-muted {
    .ra__dark & {
        color: $white !important;
    }
}

.text-dark {
    .ra__dark & {
        color: $white !important;
    }
}

.card {
    .ra__dark & {
        background-color: $gray-dark;

        &-box {
            background-color: $gray-dark;
        }
    }
}
