// Tables

/* table.table {
    tr {
        @include display-flex(
            $align-items: flex-start,
            $flex-shrink: 1
        );
    }
} */

/* &#{$es}display__td {
    border: none !important;
} */
