// Colours
$black: #000000 !default;
$gray-very-light: #dddddd !default;
$gray-light: #38414a !default;
$gray-medium: #2e3e4c !default;
$gray-dark: #1e2933 !default;
$purple: #972b84 !default;
$purple-light: #ff02c8 !default;
$red: #dd3333 !default;
$red-light: #f1556c !default;
$green: green !default;
$green-light: #61ff2a !default;
$white: #ffffff !default;

// IE Fallback
$vars: (
    red-medium: #e31837,
    white-very-light: #ffffff
);

// Spacing
$section-width: 960px;
$margin: 1rem !default;
$padding: 1rem !default;

// Class names
$es: '__' !default; // Element separator
$ms: '--' !default; // Modifier separator
$html: 'html' !default;
$body: 'body' !default;
$header: 'header' !default;
$nav: '.nav' !default;
$section: 'section' !default;
$ra: 'ra' !default;
$footer: 'footer' !default;

// CSS variables
// Convert Hex values to RGBA if needed
@function hex-to-rgb( $hex ) {
    @return red( $hex ), green( $hex ), blue( $hex );
}
@mixin var($property, $varName) {
    #{$property}: map-get($vars, $varName);
    #{$property}: var(--#{$varName}, map-get($vars, $varName));
}

:root {
    --black: #{ $black };
    --black--rgb: #{ hex-to-rgb( $black ) };
    --gray-very-light: #{ $gray-very-light };
    --gray-light: #{ $gray-light };
    --gray-medium: #{ $gray-medium };
    --gray-dark: #{ $gray-dark };
    --purple: #{ $purple };
    --red: #{ $red };
    --red-medium: #{ map-get( $vars, red-medium ) };
    --green: #{ $green };
    --green-light: #{ $green-light };
    --white-very-light: #{ map-get( $vars, white-very-light ) };
    --white: #{ $white };
    --white--rgb: #{ hex-to-rgb( $white ) };
    --margin: #{ $margin };
    --padding: #{ $padding };
}

//General
$bg-color: transparent !default;
$color: transparent !default;

// Typography
$font-size: 1.4rem !default;
$body-font-size: 1.4rem !default;
$h2-font-size: 2rem !default;
$h4-font-size: 1.8rem !default;

// Buttons
$button-color: $white !default;
$button-color-dark: $button-color !default;
$button-hover-color: $white !default;
$button-bg-color-danger: $red !default;
$button-bg-color-danger-dark: $red !default;
$button-bg-color-info: $purple !default;
$button-bg-color-info-dark: $green-light !default;
$button-bg-color-primary: $purple !default;
$button-bg-color-primary-dark: $green-light !default;
$button-color-primary-dark: $black !default;
$button-bg-color-success: $purple !default;
$button-bg-color-success-dark: $green-light !default;
$button-color-success-dark: $black !default;
$button-bg-hover-color: $black !default;
$button-bg-hover-color-dark: $black !default;

// Navigation
$nav-link-color: inherit !default;
$nav-link-hover-color: inherit !default;
$nav-link-active-color: $nav-link-hover-color !default;
$nav-sticky-link-color: $black inherit !default;
$nav-sticky-link-hover-color: inherit !default;

// Forms
$form-error-color: $red-light !default;
$form-error-border-color: $form-error-color !default;

// Slider
$slider-button-bg-color: $black !default;

// Backgrounds
$bg-color-primary: $purple !important !default;
$bg-color-secondary: $green !important !default;

// Footer
$footer-bg-color: $black !default;
