// Intialization
@import '_reset';
@import '_variables';
@import '_mixins';

* {
    -webkit-font-smoothing: subpixel-antialiased !important; 
    text-rendering: optimizeLegibility !important;
}

#{$body} {
    * {
        font-size: $font-size;
    }

    &.ra__dark {
        background-color: $black;
        color: $white;
    }
}

input::placeholder {
    .ra__dark & {
        color: rgba( var(--white--rgb), .5 ) !important;
    }
}

input:focus {
    .ra__dark & {
        color: $white !important;
    }
}

img {
    display: block;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    @include line-height;

    .ra__dark & {
        color: $white;
    }
}

h4.header-title {
    font-size: 2.4rem;
}

p {
    @include line-height;

    .ra__dark & {
        color: $white;
    }
}

a {
    @include line-height;

    color: $purple !important;

    .ra__dark & {
        color: $green !important;
    }
    
    &:hover {
        @include transition;

        color: $black !important;
        
        .ra__dark & {
            color: $white !important;
        }
    }
}

.text-muted {
    .ra__dark & {
        color: $white !important;
    }
}

.table td,
.table th {
    .ra__dark & {
        color: $white;
    }
}

.dropdown {
    &-menu {
        min-width: initial !important;

        .ra__dark & {
            background-color: $gray-medium;
        }
    }
    
    &-item {
        color: inherit !important;

        &:hover {
            color: $purple !important;
        }

        .ra__dark & {
            color: $white !important;
        }
    }
}

.input-group-text {
    font-size: inherit;

    .ra__dark & {
        background-color: $gray-medium;
        color: $white;
    }
}

.form-group {
    margin-bottom: $margin*2;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.form-control {
    font-size: inherit;

    .ra__dark & {
        background-color: $gray-medium;
        color: $white;
    }
}

.btn {
    font-size: $font-size;

    &-success {
        background-color: $purple;
        border: none;
        box-shadow: none;
        color: $white;

        &:hover {
            background-color: $black;
        }

        .ra__dark & {
            background-color: $green;
            color: $black;
            
            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }
}

// .ra__settings {
    .btn-outline-success {
        border-color: $purple;
        color: $purple;
        width: auto !important;
        
        .ra__dark & {
            border-color: $green;
            color: $green;
        }

        &:hover {
            background-color: $purple;
            border-color: $purple;
            color: $white;
            
            .ra__dark & {
                background-color: $green;
                border-color: $green;
                color: $black;
            }
        }

        &.focus,
        &:focus {
            box-shadow: 0 0 0 .15rem rgba( var(--purple), .5 );
            
            .ra__dark & {
                box-shadow: 0 0 0 .15rem rgba( var(--green), .5 );
            }
        }

        &.disabled,
        &:disabled {
            background-color: transparent;
            color: $purple;
            
            .ra__dark & {
                color: $green;
            }
        }

        &:not(:disabled):not(.disabled).active,
        &:not(:disabled):not(.disabled):active,
        .show & > .dropdown-toggle,
        .show > &.dropdown-toggle {
            background-color: $purple;
            border-color: $purple;
            color: $white;
            
            .ra__dark & {
                background-color: $green;
                border-color: $green;
                color: $black;
            }
        }

        &:not(:disabled):not(.disabled).active:focus,
        &:not(:disabled):not(.disabled):active:focus,
        .show & > .dropdown-toggle:focus,
        .show > &.dropdown-toggle:focus {
            box-shadow: 0 0 0 .15rem rgba( var(--purple), .5 );
            
            .ra__dark & {
                box-shadow: 0 0 0 .15rem rgba( var(--green), .5 );
            }
        }
    }
// }

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    display: flex;
}

.card {
    .ra__dark & {
        background-color: $gray-dark;

        &-box {
            background-color: $gray-dark;
        }
    }
}

.#{$ra} {
    &#{$es}content__content-page {
        margin-top: 80px;
        padding-top: 0 !important;
        padding-bottom: 65px !important;

        @include for-640-down {
            margin-top: 125px;
        }

        @media ( max-width: 1144px ) and ( min-width: 992px ) {
            margin-top: 125px;
        }

        &#{$es}container-fluid > .row:first-of-type {
            margin-top: $margin*2;
        }
    }

    &#{$es}navbar {
        height: auto;
        padding: $padding;

        .ra__dark & {
            background-color: $gray-dark;
        }

        &#{$es}inner {
            @include display-flex(
                $media-queries: false
            );

            position: relative;

            > * {
                padding-top: $padding;
                padding-bottom: $padding;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        &#{$es}logo {
            &-con.logo-lg,
            &-con.logo-sm {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 200px;
            }
    
            &-box {
                height: auto;
                padding-left: 0 !important;
                padding-right: $padding !important;

                body[data-sidebar-size=condensed] & {
                    width: auto !important;
                }

                @include for-992-down {
                    order: 3;
                    width: auto !important;
                }
            }
    
            display: block;
            width: 100%;
        }

        &#{$es}topnav {
            background-color: $gray-light;
            box-shadow: none;
            height: auto;
            margin-top: initial;
            padding: 0;
            padding-right: $padding;
            position: static;
            
            .ra__dark & {
                background-color: $gray-dark;
            }

            @include for-992-down {
                flex-shrink: 1;
                order: 2;
                position: absolute;
                top: 100%;
                
                .ra__dark & {
                    background-color: $gray-medium;
                }
            }

            @include for-640-down {
                top: 60%;
            }
            
            .navbar-nav .nav-link {
                color: rgba( var(--white--rgb), .6 );

                font-size: initial;
                
                .ra__dark & {
                    color: $white;
                }

                @include for-992-down {
                    &.dropdown-toggle {
                        padding-left: $padding*2 !important;
                    }
                }
            }
            
            &-menu {
                @include display-flex(
                    $media-queries: false
                );

                @media ( max-width: 1144px ) and ( min-width: 992px ) {
                    flex-basis: 100%;
                    justify-content: flex-end;
                }

                @include for-992-down {
                    justify-content: center;
                    order: 4;
                }
                
                @include for-640-down {
                    flex-basis: 100%;
                    justify-content: flex-end;
                }
                
                &#{$es}nav-link {
                    color: rgba( var(--white--rgb), .6 ) !important;
                    max-height: initial !important;
                    line-height: 1 !important;
                    padding-left: 0 !important;
                    padding-right: $padding*2 !important;
                    
                    .ra__dark & {
                        color: $white !important;
                    }

                    @include for-992-down {
                        text-align: left !important;
                    }
                    
                    &:hover {
                        color: $purple-light !important;

                        .ra__dark & {
                            color: $green !important;
                        }
                    }

                    &-con {
                        a {
                            min-width: initial;
                        }
                            
                        &:last-child > a {
                            padding-right: 0 !important;
                        }
                    }

                    &-con#{$ms}lang-con {
                        align-self: center;
                    }

                    .pro-user-name {
                        display: block;
                    }
                }

                .dropdown-menu {
                    .ra__dark & {
                        background-color: $gray-medium;
                    }
                }
                
                .dropdown-item {
                    display: flex;
                    align-items: center;

                    .ra__dark & {
                        color: $white;
                    }
                    
                    &:hover {
                        .ra__dark & {
                            color: $green !important;
                        }
                    }

                    > *:first-child {
                        margin-right: $margin !important;
                    }

                    > *:last-child {
                        margin-right: 0;
                    }
                }
            }

            &-menu-left {
                @include for-992-down {
                    order: 1;

                    .lines {
                        margin-top: 0 !important;
                    }
                }
                
                @include for-992-up {
                    display: none;
                }
            }
        }

        &#{$es}navbar-toggle {
            padding-right: 0 !important;
        }
    }

    &#{$es}plants {
        &#{$es}display {
            @include display-flex(
                $align-items: flex-start
            );

            @include for-desktop-1400-down {
                > * {
                    flex-basis: 100%;
                    max-width: initial;
                }
            }
        }

        &#{$es}display__tr {
            @include display-flex(
                $align-items: flex-start,
                $flex-shrink: 1
            );
        }

        &#{$es}display__td {
            border: none !important;
        }
    }
}

.#{$footer} {
    .ra__dark & {
        background-color: $gray-dark;
        color: $white;
    }
    
    .footer-links a {
        .ra__dark & {
            color: $white;
        }
    }
}
