// Intialization
@import '../views/admin/assets/sass/_init';
@import '_init';
@import '_forms';
@import '_buttons';
@import '_alerts';
@import '_tables';
@import '_nav';
@import '../views/admin/assets/sass/_auth';

#{$body} {
    color: $black;

    &.ra__dark {
        background-color: $black;
        color: $white;
    }
}

a {
    &:not(.btn):not(.nav-link):not(.dropdown-item) {
        color: $black !important;

        .ra__dark & {
            color: $white !important;
        }

        &:hover {
            color: $purple !important;

            .ra__dark & {
                color: $green-light !important;
            }
        }
    }
}

#wrapper {
    height: auto;
}

.dropdown {
    &-menu {
        min-width: initial !important;

        .ra__dark & {
            background-color: $gray-medium;
        }
    }

    &-item {
        color: inherit !important;

        &:hover {
            color: $purple !important;
        }

        .ra__dark & {
            color: $white !important;

            &:hover {
                color: $green-light !important;
            }
        }
    }
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    display: flex;
}

.#{$ra} {
    &#{$es}content__content-page {
        margin-top: 80px;
        padding-top: 0 !important;
        padding-bottom: 65px !important;

        @include for-640-down {
            margin-top: 125px;
        }

        @media ( max-width: 1144px ) and ( min-width: 992px ) {
            margin-top: 125px;
        }

        &#{$es}container-fluid > .row:first-of-type {
            margin-top: $margin*2;
        }
    }

    &#{$es}navbar {
        height: auto;
        padding: $padding;

        .ra__dark & {
            background-color: $gray-dark;
        }

        &#{$es}inner {
            @include display-flex(
                $media-queries: false
            );

            position: relative;

            > * {
                padding-top: $padding;
                padding-bottom: $padding;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        &#{$es}logo {
            &-con.logo-lg,
            &-con.logo-sm {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 200px;
            }

            &-box {
                height: auto;
                padding-left: 0 !important;
                padding-right: $padding !important;

                body[data-sidebar-size=condensed] & {
                    width: auto !important;
                }

                @include for-992-down {
                    order: 3;
                    width: auto !important;
                }
            }

            display: block;
            width: 100%;
        }

        &#{$es}topnav {
            background-color: $gray-light;
            box-shadow: none;
            height: auto;
            margin-top: initial;
            padding: 0;
            padding-right: $padding;
            position: static;

            .ra__dark & {
                background-color: $gray-dark;
            }

            @include for-992-down {
                flex-shrink: 1;
                order: 2;
                position: absolute;
                top: 100%;

                .ra__dark & {
                    background-color: $gray-medium;
                }
            }

            @include for-640-down {
                top: 60%;
            }

            .navbar-nav .nav-link {
                color: rgba( var(--white--rgb), .6 );

                font-size: initial;

                .ra__dark & {
                    color: $white;
                }

                @include for-992-down {
                    &.dropdown-toggle {
                        padding-left: $padding*2 !important;
                    }
                }
            }

            &-menu {
                @include display-flex(
                    $media-queries: false
                );

                @media ( max-width: 1144px ) and ( min-width: 992px ) {
                    flex-basis: 100%;
                    justify-content: flex-end;
                }

                @include for-992-down {
                    justify-content: center;
                    order: 4;
                }

                @include for-640-down {
                    flex-basis: 100%;
                    justify-content: flex-end;
                }

                &#{$es}nav-link {
                    color: rgba( var(--white--rgb), .6 ) !important;
                    max-height: initial !important;
                    line-height: 1 !important;
                    padding-left: 0 !important;
                    padding-right: $padding*2 !important;

                    .ra__dark & {
                        color: $white !important;
                    }

                    @include for-992-down {
                        text-align: left !important;
                    }

                    &:hover {
                        color: $purple-light !important;

                        .ra__dark & {
                            color: $green-light !important;
                        }
                    }

                    &-con {
                        a {
                            min-width: initial;
                        }

                        &:last-child > a {
                            padding-right: 0 !important;
                        }
                    }

                    &-con#{$ms}lang-con {
                        align-self: center;
                    }

                    .pro-user-name {
                        display: block;
                    }
                }

                .dropdown-menu {
                    .ra__dark & {
                        background-color: $gray-medium;
                    }
                }

                .dropdown-item {
                    display: flex;
                    align-items: center;

                    .ra__dark & {
                        color: $white;
                    }

                    &:hover {
                        .ra__dark & {
                            color: $green-light !important;
                        }
                    }

                    > *:first-child {
                        margin-right: $margin !important;
                    }

                    > *:last-child {
                        margin-right: 0;
                    }
                }
            }

            &-menu-left {
                @include for-992-down {
                    order: 1;

                    .lines {
                        margin-top: 0 !important;
                    }
                }

                @include for-992-up {
                    display: none;
                }
            }
        }

        &#{$es}navbar-toggle {
            padding-right: 0 !important;
        }
    }

    &#{$es}plants {
        /* &#{$es}display {
            @include display-flex(
                $align-items: flex-start
            );

            @include for-desktop-1400-down {
                > * {
                    flex-basis: 100%;
                    max-width: initial;
                }
            }
        } */

        &#{$es}table-alt {
            tr {
                display: flex;
            }

            tr td:last-child {
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: space-between;
            }

            &#{$es}img-con {
                flex-basis: 10%;
                flex-shrink: 0;
                min-width: 100px;
                width: 10%;

                img {
                    width: 100%;
                }
            }

            h5 {
                flex-basis: 50%;
                flex-shrink: 1;
                font-size: 1.8rem;
                // line-height: 1;
                margin-bottom: $margin;

                @include for-640-down {
                    flex-basis: 100%;
                }
            }

            h6 {
                font-size: 1.6rem;
                margin-bottom: $margin/4;
            }

            p {
                margin-bottom: $margin;
            }

            form {
                display: flex;
                justify-content: flex-end;
                flex-basis: 50%;
                flex-grow: 1;

                @include for-640-down {
                    display: flex;
                    align-items: flex-end;
                    align-self: flex-end;
                    flex-basis: 100%;
                    justify-content: flex-start;
                    order: 1;
                }

                @include for-480-down {
                    justify-content: space-between;
                }

                > * {
                    align-self: flex-start;
                    margin-right: $margin/4;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .text-truncate {
                align-self: flex-end;
                width: 600px;

                @include for-desktop-down {
                    width: 400px;
                }


                @include for-640-down {
                    align-items: center;
                    flex-basis: auto;
                    margin-bottom: $margin/2;
                    width: 200px;
                }

                @include for-480-down {
                    width: 100px;
                }
            }
        }
    }
}

.#{$footer} {
    color: $black;

    .ra__dark & {
        background-color: $gray-dark;
        color: $white;
    }

    .footer-links a {
        .ra__dark & {
            color: $white;
        }
    }
}
