// Intialization
@import '../views/website/assets/sass/_init';
@import '_init';
@import '_forms';
@import '_buttons';
@import '_alerts';
@import '_nav';

#{$body} {
    * {
        font-size: $body-font-size;
    }
}

h2 {
    font-size: 3rem;
}

// Reset
html .bg-color-primary,
html .bg-primary,
section.page-header .page-header-title-border,
.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span,
html .toggle-primary .toggle > label:after,
html .toggle-primary .toggle > .toggle-title:after {
    background-color: $bg-color !important;
}

.alternative-font {
    color: $color;
}

.header-logo {
    max-width: 200px;

    img {
        // display: block;
        width: 100%;
    }
}

html #header .header-body {
    background: rgba( $black, 0.8 ) !important;
}

html:not(.sticky-header-active) #header.header-transparent:not(.header-semi-transparent) .header-body {
    background: rgba( $black, 0.4 ) !important;
}

#header {
    .header-nav {
        &.header-nav-links {
            nav {
                > ul {
                    > li > a {
                        font-size: 1.4rem;

                        i {
                            margin-right: $margin/2 !important;
                        }
                    }

                    li:hover > a {
                        color: $nav-link-hover-color;
                    }

                    &:not( :hover ) > li > a.active {
                        color: $nav-link-active-color;
                    }
                }
            }
        }
    }

    .header-btn-collapse-nav {
        background: $purple;
    }
}

@include for-992-down {
    .header-column {
        &-logo {
            justify-content: center;
            order: 2;
        }

        &-nav {
            justify-content: flex-start;
            order: 1;

            .header-row {
                justify-content: flex-start !important;
            }

            .header-btn-collapse-nav {
                margin-left: 0 !important;
            }
        }

        &-log-in-out {
            order: 3;
        }
    }
}

@include for-992-down {
    .nav-link-log-in-out-text {
        display: none;
    }
}

/* #{$nav}bar {
    &-custom {
        .logo {
            max-width: 200px;

            &-img {
                // display: block;
                width: 100%;
            }
        }

        .navbar-nav {
            #{$nav}-item #{$nav}-link {
                @include line-height(
                    $line-height: 1
                );

                color: $nav-link-color;

                &:hover {
                    color: $nav-link-hover-color;
                }
            }
        }

        &.nav-sticky .navbar-nav {
            #{$nav}-item #{$nav}-link {
                color: $nav-sticky-link-color;

                &:hover {
                    color: $nav-sticky-link-hover-color;
                }
            }
        }
    }
} */

.main {
    min-height: 100vh;

    &:not(#home) {
        padding-top: 100px;
    }
}

.owl-carousel.nav-dark:not(.nav-style-1):not(.nav-style-2):not(.nav-style-3):not(.show-nav-title):not(.nav-arrows-1) .owl-nav button[class*='owl-'] {
    @include transition;

    background-color: $slider-button-bg-color !important;
    color: $slider-button-color !important;

    &:hover {
        background-color: $slider-button-hover-bg-color !important;
        color: $slider-button-hover-color !important;
    }
}

.card {
    .ra__dark & {
        background-color: $gray-dark;

        &-box {
            background-color: $gray-dark;
        }
    }

    a {
        .ra__dark & {
            color: $white !important;
        }
    }

    div[class*='apexcharts-'] svg {
        .ra__dark & {
            fill: $white !important;
        }
    }
}

#plant-data {
    background-color: $bg-color-secondary;

    .fa,
    .fab,
    .fad,
    .fal,
    .far,
    .fas {
        display: flex;
    }
}

#reports {
    .card {
        flex-grow: 1;
    }
}

#participants {
    background-color: $bg-color-primary;

    .card {
        flex-grow: 1;
    }
}

##{$footer} {
    background: $footer-bg-color;
    border: none;

    .footer-copyright {
        background: $footer-bg-color;
    }
}
