// Theme Settings
// Navigation
$nav-link-color: $white;
$nav-link-hover-color: rgba( $white, .6 );
$nav-sticky-link-color: $black;
$nav-sticky-link-hover-color: $purple;

$slider-button-bg-color: $purple;

$footer-bg-color: $white;
