// Theme Settings

// Intialization
@import '_variables';
@import '_mixins';

// Typography
html {
    font-size: 12px;
}

// Colors
$bg-color: $purple;
$color: $purple;

// Navigation
$nav-link-color: $white;
$nav-link-hover-color: $purple-light;
$nav-link-active-color: $nav-link-hover-color;
$nav-sticky-link-color: $black;
$nav-sticky-link-hover-color: $purple;

// Buttons
$button-hover-color-info: $black !important;
$button-bg-hover-color-info: $white !important;
$button-bg-color-primary: $purple !important;
$button-hover-color-primary: $white !important;
$button-bg-hover-color-primary: $black !important;

// Slider
$slider-button-color: $white !default;
$slider-button-bg-color: $purple;
$slider-button-hover-color: $white;
$slider-button-hover-bg-color: $black;

// Background

// Footer
$footer-bg-color: $white;
