// Theme Settings
// Navigation
$nav-link-color: $white;
$nav-link-hover-color: $purple-light;
$nav-link-active-color: $nav-link-hover-color;
$nav-sticky-link-color: $black;
$nav-sticky-link-hover-color: $purple;

// Slider
$slider-button-bg-color: $purple;

// Background

// Footer
$footer-bg-color: $white;
